<!--Author: Sari Haj Hussein-->
<ion-view view-title="Pozo">
<ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
<div role="main" class="padding">

            <h2>Pozos</h2>

                    <ul class="list">
                        <li class="item">
                            <div class="row">
                                <div class="col"><b>ID</b></div>
                                <div class="col"><b>Estado</b></div>
                                <div class="col col-10"><b>Info</b></div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="item" ng-repeat="pozo in pozos| orderBy:['id','estado']">
                            <div class="row">
                                <div class="col">{{pozo.id}} </div>
                                <div class="col"> {{pozo.estado}}</div>
                                <div class="col col-10"><a href="/pozo/edit/{{pozo.id}}"><i class="icon ion-android-create"></i></a></div>
                            </div>
                        </li>
                    </ul>


            <h3>Filtros Temporales</h3>
            <div class="list">
                <label class="item item-input item-select">
                <div class="input-label">
                Filtro
                </div>
                <select ng-model="filtro" ng-options="f for f in filtros"></select>
                </label>
            </div>
                <button data-ng-click="filter()" data-ng-disabled="noChange() || detailForm.$invalid" class="button button-block button-positive">Filtrar</button>

</div>
</ion-content>
</ion-view>
