<!--Author: Sari Haj Hussein-->
<ion-view view-title="Sensor">
<ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
<div role="main" class="padding">

			<h2>Sensores</h2>

                    <ul class="list">
                		<li class="item">
							<div class="row">
								<div class="col"><b>Nombre</b></div>
								<div class="col"><b>Tipo</b></div>
								<div class="col col-10"><b>Info</b></div>
							</div>
						</li>
					</ul>

					<ul class="list">
                		<li class="item" ng-repeat="sensor in sensores| orderBy:['nombre','tipo']">
							<div class="row">
								<div class="col">{{sensor.nombre}} </div>
								<div class="col"> {{tipos[sensor.tipo]}}</div>
								<div class="col col-10"><a href="/sensor/edit/{{sensor.id}}"><i class="icon ion-android-create"></i></a></div>
							</div>
						</li>
					</ul>

		</div>
	</div>
</div>
</ion-content>
</ion-view>
